# Cross Validation

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Shaik.AbdulRazak\OneDrive\Documents\Raw data\placement_data.csv")
data.head()

   Cgpa  Package
0  6.87    12.21
1  9.75    22.55
2  8.66    24.33
3  7.99    20.76
4  5.78    15.66

In [3]:
x=data.iloc[:,:-1]
y=data["Package"]

In [4]:
x

     Cgpa
0    6.87
1    9.75
2    8.66
3    7.99
4    5.78
..    ...
995  5.46
996  9.59
997  5.68
998  9.75
999  7.23

[1000 rows x 1 columns]

In [5]:
y

0      12.21
1      22.55
2      24.33
3      20.76
4      15.66
       ...
995    13.57
996    28.15
997     9.11
998    15.46
999    13.91
Name: Package, Length: 1000, dtype: float64

In [7]:
new_data=data.head(10)
x_new=new_data.iloc[:,:-1]
y_new=new_data["Package"]

In [8]:
# from sklearn to import the LeaveOneOut, LeavePout,kfold,Stratified Kfold

In [9]:
from sklearn.model_selection import LeaveOneOut,LeavePOut,KFold,StratifiedKFold

In [11]:
# LeaveOneout
lo=LeaveOneOut()
for train,test in lo.split(x_new,y_new):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [13]:
# LeavePout
loP=LeavePOut(p=2)
for train,test in loP.split(x_new,y_new):
    print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[1 3 4 5 6 7 8 9] [0 2]
[1 2 4 5 6 7 8 9] [0 3]
[1 2 3 5 6 7 8 9] [0 4]
[1 2 3 4 6 7 8 9] [0 5]
[1 2 3 4 5 7 8 9] [0 6]
[1 2 3 4 5 6 8 9] [0 7]
[1 2 3 4 5 6 7 9] [0 8]
[1 2 3 4 5 6 7 8] [0 9]
[0 3 4 5 6 7 8 9] [1 2]
[0 2 4 5 6 7 8 9] [1 3]
[0 2 3 5 6 7 8 9] [1 4]
[0 2 3 4 6 7 8 9] [1 5]
[0 2 3 4 5 7 8 9] [1 6]
[0 2 3 4 5 6 8 9] [1 7]
[0 2 3 4 5 6 7 9] [1 8]
[0 2 3 4 5 6 7 8] [1 9]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 3 5 6 7 8 9] [2 4]
[0 1 3 4 6 7 8 9] [2 5]
[0 1 3 4 5 7 8 9] [2 6]
[0 1 3 4 5 6 8 9] [2 7]
[0 1 3 4 5 6 7 9] [2 8]
[0 1 3 4 5 6 7 8] [2 9]
[0 1 2 5 6 7 8 9] [3 4]
[0 1 2 4 6 7 8 9] [3 5]
[0 1 2 4 5 7 8 9] [3 6]
[0 1 2 4 5 6 8 9] [3 7]
[0 1 2 4 5 6 7 9] [3 8]
[0 1 2 4 5 6 7 8] [3 9]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 5 7 8 9] [4 6]
[0 1 2 3 5 6 8 9] [4 7]
[0 1 2 3 5 6 7 9] [4 8]
[0 1 2 3 5 6 7 8] [4 9]
[0 1 2 3 4 7 8 9] [5 6]
[0 1 2 3 4 6 8 9] [5 7]
[0 1 2 3 4 6 7 9] [5 8]
[0 1 2 3 4 6 7 8] [5 9]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 7 9] [6 8]
[0 1 2 3 4 5 7 8] [6 9]
[0 1 2 3 4 5 6 9] [7 8]
[0 1 2 3 4 5 6 8] [7 9]
[0 1 2 3 4 5 6 7] [8 9]

In [15]:
# KFold
lkf=KFold(n_splits=5)
for train,test in lkf.split(x_new,y_new):
    print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [17]:
# # Stratified KFold
# skf=StratifiedKFold(n_splits=5)
# for train,test in skf.split(x_new,y_new):       # it is only work on Classification Analyasis
#     print(train,test)

# To Find out the Accuracy

In [18]:
x=data.iloc[:,:-1]
y=data["Package"]

In [20]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

cross_val_score(LinearRegression(),x,y,cv=5)

array([0.53022012, 0.53730047, 0.5226686 , 0.45668453, 0.49503503])

In [21]:
p=cross_val_score(LinearRegression(),x,y,cv=5)
p.sort()
p*100

array([45.6684529 , 49.50350301, 52.26685989, 53.02201181, 53.73004745])

In [22]:
p1=cross_val_score(LinearRegression(),x,y,cv=KFold(n_splits=10))
p1.sort()
p1*100

array([40.7993582 , 45.71766928, 50.22499652, 50.42482232, 50.97705749,
       51.66520552, 52.64206841, 52.81756078, 55.8325949 , 56.82428025])